*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
    min-width: 1000px;
}

.alto{
    height: 15%;
    background-color: #009688;
}
.basso{
    height: 85%;
    background-color: #d9dbd5;
}

/* WEB-APP */
.container{
    margin: auto;
    width: 75%;
    height: 90%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.col {
    height: 100%;
}
.bordo-col{
    border-right: 1px solid grey;
}
.lung-35{
    width: 35%;
}
.lung-65{
    width: 65%;
}

/* INTSTAZIONE */
.intestazione{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 5px;
    height: 10%;
}
.info{
    display: flex;
    align-items: center;
}
.info p, h5{
    margin-left: 5px;
}
.ultimo-accesso{
    font-size: 14px;
    color: grey;
    font-style: italic;
}
.box-image{
    height: 48px;
    width: 48px;
    flex-shrink: 0;
}
img{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
}

.box-icon{
    display: flex;
    margin-right: 10px;
}
.icona{
    margin-left: 15px;
    color: grey;
    font-size: 20px;
}

/* NOTIFICHE */
.notifiche{
    display: flex;
    padding: 10px;
    background-color: #8edafc;
    height: 10%;
    width: 100%;
}
.box-notifiche{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.box-notifiche .celeste{
   color: #8edafc;
   font-size: 25px;
}
.attiva-notifiche{
    color: black;
    font-weight: normal;
}

/* CERCA */
.cerca{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #fafafa;
    height: 10%;
    width: 100%;
}
.cerca .box-icon, .input-box{
    border: 0.5px solid grey;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.cerca .box-icon{
    width: 20% !important;
    margin-right: 0px;
}
.cerca .icona{
    font-size: 15px;
    margin-left: 0px;
}

.input-cerca{
    border: 0px solid transparent;
    height: 100%;
    width: 100%;
}

/* CONTATTI */
.contatti{
    padding: 5px;
    overflow-y: scroll;
    background-color: white;
    height: 70%;
}
.contatto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 0.5px solid grey;
    padding: 5px;
    height: 15%;
    position: relative;
}
.grey{
    color: grey;
}
.orario{
    position: absolute;
    bottom: 6px;
    right: 5px;
}
.contatto .info{
    align-items: start;
}
.ultimo-messaggio{
    font-size: 14px;
    color: grey;
    margin-top: 5px;
}
/* CHAT */
.chat{
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    height: 80%;
    padding: 15px;
}
.message{
    width: 50%;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.send{
    background-color: #d5f9ba;
    margin-left: auto;
}
.received{
    background-color: white;
}
.data-css{
    text-align: right;
    color: grey;
    margin-top: 2px;
    font-size: 15px;
}
.m-3{
    margin-left: 6px;
}
/* MENU CHAT */
.menu-chat{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3eeea;
    height: 10%;
    width: 100%;
}
.box-input-chat{
    width: calc(100% - 20% - 16px);
    height: 50%;
}
.input-chat{
    width: 85%;
    height: 100%;
    margin-left: 7%;
    border: 1px solid  transparent;
    border-radius: 5px ;
}
.menu-chat .icona{
    margin-left: 0px;
    font-size: 26px;
}

.selezionato-css:hover{
    background-color: rgba(0,0,0,0.3);
}